<div class="col-5">

  <%# Renders the block showing the newly created token %>
  <%= render partial: 'show_token', locals: { api_key: @api_key, plaintext_token: @plaintext_token } %>

  <%# Add navigation links %>
  <p style="margin-top: 2em;">
    <%= link_to ApiKeys.configuration.return_text, ApiKeys.configuration.return_url, class: "button outline" %>
    <%= link_to "All API Keys", keys_path, class: "button" %>
  </p>

</div>